<h1>Holaaaaaaaaa desde handlebars!</h1>
<form method="POST" action="upload-file" enctype="multipart/form-data" >
    <input type="file" name="myFile" id="myFile">
    <button>Subir Archivo</button>


</form>